@media (min-width: 768px) {
  .hero-section .info {
    padding-top: 22%;

    p {
      width: 50%;
    }
  }
  .hero-section .cards {
    flex-wrap: wrap;
    padding: 0 5%;
  }
  .cards .card {
    padding: 20px 15px;
    width: 85%;
  }

  .meeting-section .meetings .meeting-catagories {
    width: 35%;
  }

  .course-section h2 {
    padding: 0 0 0 70px;
  }

  .contact-section .contact-form .wrapper {
    justify-content: start;
    flex-wrap: nowrap;
  }
}
